.logo{
  padding-top: 20px;
} 

.title{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 20px;
}

.info{
  padding: 5px 0;
  font-size: 14px;
  font-weight: 700;
}

.icon{
  padding-bottom: 20px;
}
