.product__title{
    
}

.product__img-box{
  width: 100%;
  height: 160px;
  

}

.product__img-img{
  border: 2px solid #ccc ;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.product__price{
  margin-top: 6px;
  font-size: 20px;
  font-weight: 700;
}
