.wrapper{

  position: absolute;
  background-color:rgba(0,0,0,0.3);
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



.form{
  background-color: #ffffff;
}
.form__logo{
  padding:  20px 0;
}
.fomr__logo_img{
  margin-left: 200px;
  
}


.form__login{

  display: inline-flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}
.form__name{
  font-size: 40px;
  font-weight: 800;
}

.fomr__logo_title{
  padding-right: 40px;
}

.form__login-choice{
  width: 150px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border-bottom:5px solid #92e5f2 ;

}

.form__login-nChoice{
  font-weight: 400;
  font-size: 24px;
  text-align:justify;

}

.form__content-box{
  margin: 0 80px;
  margin-top: 20px;
}
.form__content-box-title{
  display: inline-flex; 
  justify-content: start;


  font-size: 24px;
  font-weight: 700;
}
.form__content-box-input{
  padding: 5px 0;
  height: 50px;

  border: 3px solid #d1f3f9 ;
  border-radius: 6px;
}


