.search__title{
  margin-top: 100px;

  font-size: 80px;
  font-weight: 600;


}

.search__src{

  position: relative;
}
.search__src-inp{

  width: 500px;
  border: 2px solid #80b5be ;
  border-radius: 4px;

}

.search__src-btn{
  position: absolute;
  top: 2px;
  left: 870px;
}
